<h3> MY REVIEWS </h3>
<table style="width:70%">
  <tr>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Semester</th>
    <th>Year</th>
    <th>Professor</th>
    <th>Review</th>
  </tr>
  {{#each addedReviews}}
  <tr>
    <td>{{courseNumber}}</td>
    <td>{{courseName}}</td>
    <td>{{semester}}</td>
    <td>{{year}}</td>
    <td>{{professor}}</td>
    <td>{{review}}</td>
  </tr>
  {{/each}}
</table>
